.iframe-container{
    display:flex;
    justify-content: center;
    margin-bottom: 5rem;
}
section{
    margin-right: 15rem;
    margin-left: 15rem;
    margin-bottom: 5rem;
}
article{
    
    display:flex;
    flex-direction: column;
    justify-content: left;
}
article h2{
    color: rgb(102 , 102, 102);
}


@media screen and (min-width:767px) and (max-width:1280px) {
    
    section{
        margin-left: 5rem;
        margin-right: 5rem;
    }
}
@media screen and (max-width:767px) {
    iframe{
        max-height: 18em;
    }
    section{
        margin-left: 2rem;
        margin-right: 2rem;
    }
}