<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/about.css">
    <title>About</title>
</head>
<body>
    <header>
        <div class="header-container">
            <nav class="bar">
                <div class="page" id="home"><a href="../index.html">ELCOBRACHICKEN </a></div>
                <div class="page" id="slogan"><span> -  In pixels we trust</span></div>
                <div class="page" id="proyect"><a href="./projects.html">PROJECTS</a> </div>
                <div class="page" id="about"><a href="./about.html">ABOUT</a> </div>
                <div class="page" id="contact"><a href="./contact.html">CONTACT</a> </div>
            </nav>
        </div>
    </header>

    <div class="conteiner-about">
        <section class="info-about">
            <div class="about-img">
                <img src="../img/cobra.PNG" alt="cobra">
            </div>
            <div class="about-text">    
                <h2>elcobrachicken</h2>    
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat architecto asperiores quisquam ratione fugit alias ea nesciunt optio, rerum voluptatibus, vel cumque nam nisi quos harum, incidunt eius ab suscipit?</p>
            </div>
        </section>
    </div>
        
    <footer>
        <div>
            <a href="#">
                <i class="fa-brands fa-instagram fa-2x"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-linkedin fa-2x"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-twitter fa-2x"></i>
            </a>
        </div>
    
        
    </footer>
</body>
</html>