<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/proyect1.css">
    <title>Sobre el proyecto</title>
</head>
<body>
    <header>
        <div class="header-container">
            <nav class="bar">
                <div class="page" id="home"><a href="../index.html">ELCOBRACHICKEN </a></div>
                <div class="page" id="slogan"><span> -  In pixels we trust</span></div>
                <div class="page" id="proyect"><a href="./projects.html">PROJECTS</a> </div>
                <div class="page" id="about"><a href="./about.html">ABOUT</a> </div>
                <div class="page" id="contact"><a href="./contact.html">CONTACT</a> </div>
            </nav>
        </div>
    </header>

    <section>
        <div class="iframe-container">
            <iframe width="1060" height="510" src="https://www.youtube.com/embed/7N2v0bpNFKA?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    
        <article>
            <h2>
                TITULO DEL PROYECTO
            </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit dolorem blanditiis placeat aut nihil, voluptate eum aspernatur ut inventore molestiae animi eaque alias dicta consectetur illum quasi voluptatum perspiciatis! Labore!</p>
            <br>
            <h3> CREDITS</h3>
            <p>
                Director <strong> Yves Geleyn</strong>
                <br> 
                Production <strong> Co Hornet</strong>
                <br>  
                Managing Director <strong> Hana Shimizu</strong> 
                <br> 
                Head of Creative Development <strong> Kristin Labriola</strong>
                <br>  
                Producer <strong> Hanna Smith-Ide</strong> 
                <br> 
                Production Coordinator <strong> Madeline Metolius</strong> 
                <br> 
                Senior Editor <strong> Anita Chao</strong> 
                <br> 
                Assistant Editor <strong> Cole Bannick</strong> 
            </p>
        </article>
    </section>

    <footer>
        <div>
            <a href="#">
                <i class="fa-brands fa-instagram fa-2x"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-linkedin fa-2x"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-twitter fa-2x"></i>
            </a>
        </div>
        
    </footer>
</body>
</html>