<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>Projects</title>
</head>
<body>
    <header>
        <div class="header-container">
            <nav class="bar">
                <div class="page" id="home"><a href="../index.html">ELCOBRACHICKEN </a></div>
                <div class="page" id="slogan"><span> -  In pixels we trust</span></div>
                <div class="page" id="proyect"><a href="./projects.html">PROJECTS</a> </div>
                <div class="page" id="about"><a href="./about.html">ABOUT</a> </div>
                <div class="page" id="contact"><a href="./contact.html">CONTACT</a> </div>
            </nav>
        </div>
    </header>
    <div class="contenedor">
        <section class="cards">
            <article class="parent">
                <div class="imagen">
                    <a href="./project1.html">
                        <img src="../img/banditasexport_1-min.png" alt="">
                    </a>
                </div> 
                <a href="./project1.html">
                    <div class="titulo-undercard">
                        <h2>
                            <span>Proyecto uno</span>                            
                        </h2>
                    </div>
                </a>
                
            </article>
            <article class="parent">
                <div class="imagen">
                    <a href="./project1.html">
                        <img src="../img/RS_WOOFERBOY-min.png" alt="">
                    </a>
                </div> 
                <a href="./project1.html">
                    <div class="titulo-undercard">
                        <h2>
                            <span>Proyecto dos</span>                            
                        </h2>
                    </div>
                </a>
            </article>
            <article class="parent">
                <div class="imagen">
                    <a href="./project1.html">
                        <img src="../img/TENTACLE_EDIT-min.png" alt="">
                    </a>
                </div> 
                <a href="./project1.html">
                    <div class="titulo-undercard">
                        <h2>
                            <span>Proyecto tres</span>                            
                        </h2>
                    </div>
                </a>
            </article>
            <article class="parent">
                <div class="imagen">
                    <a href="./project1.html">
                        <img src="../img/SweetSnack-min.png" alt="">
                    </a>
                </div> 
                <a href="./project1.html">
                    <div class="titulo-undercard">
                        <h2>
                            <span>Proyecto cuatro</span>                            
                        </h2>
                    </div>
                </a>
            </article>
            <article class="parent">
                <div class="imagen">
                    <a href="./project1.html">
                        <img src="../img/Untitled 2_Volumes SS GIRL_0001_ARNOLD_Vert-min.jpg" alt="">
                    </a>
                </div> 
                <a href="./project1.html">
                    <div class="titulo-undercard">
                        <h2>
                            <span>Proyecto cinco</span>                            
                        </h2>
                    </div>
                </a>
            </article>
            <article class="parent">
                <div class="imagen">
                    <a href="./project1.html">
                        <img src="../img/RS_WOOFERBOY-min.png" alt="">
                    </a>
                </div> 
                <a href="./project1.html">
                    <div class="titulo-undercard">
                        <h2>
                            <span>Proyecto seis</span>                            
                        </h2>
                    </div>
                </a>
            </article>
        </section>
    </div>
    <footer>
        <div>
            <a href="#">
                <i class="fa-brands fa-instagram fa-2x"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-linkedin fa-2x"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-twitter fa-2x"></i>
            </a>
        </div>
        
    </footer>
</body>
</html>